
.admin-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px 0px;
    width: 100%;
}

.admin-heading
{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.admin-heading h1{

    font-size: 2.2rem;
    font-weight: bold;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.KidsRegistered 
{
    padding:40px ;
    margin:0.625em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    text-align: center;
    border-radius:1em;
    align-items: center;
    background-color: var(--background-color);
 color: var(--color);
      
}
.KidsRegistered:hover {
    background-color:#00093c;
        color:white;
        cursor:pointer;
        box-shadow: 0 8px 16px 0 rgba(180, 171, 171, 0.2);
        transform: scale(1.03);
        transition:all 1s ease;
    
    }
.Courses
{
    padding:40px ;
    margin:1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    justify-content:center;
    text-align: center;
    border-radius:1em;
    background-color: var(--background-color);
    color: var(--color); 
     
} 

.Courses:hover {
    background-color:#00093c;
    color:white;
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(180, 171, 171, 0.2);
    transform: scale(1.03);
    transition:all 1s ease;
    }
    
.Tutors
{
    padding:40px ;
    margin:0.625em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    justify-content:space-around;
    text-align: center;
    border-radius:1em;
    background-color: var(--background-color);
    color: var(--color); 
     
}
.Tutors:hover {
    background-color:#00093c;
        color:white;
        cursor:pointer;
        box-shadow: 0 8px 16px 0 rgba(180, 171, 171, 0.2);
        transform: scale(1.03);
        transition:all 1s ease;
    }
    .Tutors a:hover {
            color:white;
            cursor:pointer;
            transform: scale(1.03);
            transition:all 1s ease;
            text-decoration: underline;
    }
            
    .Tutors a {color: #8b8b8b;} 

    
    button{
        font-size: 0.75em;
        display:flex;
        width:7em;
        padding:0.9em;
        text-align:center;
        justify-content: center;
        border: none;
        border-radius: 01.2em;
        cursor: pointer;
        box-shadow: 0 0.2em #666;
        background-color: #1666b5; 
    }