*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
height: 100%;

}

body {
 min-height: 100vh;
 width: 100%;
 background-color: var(--background-color);
 color: var(--color);
justify-content: center;
font-family: 'Times New Roman', Times, serif;
}

body:not(.dark-mode){
    --background-color: #f1f2f6;
    --color:#1B1D1F;
}

.dark-mode{
    --background-color: #1B1D1F;
    --color:#f1f2f6;
}


.nav_links a{
    
font-family: "Times New Roman", Times, serif;
font-weight: 400;
font-size: 1.5vw;
color: #edf0f1;
text-decoration: none;
padding: 1vw 2vw;
text-align: center;
}
.nav_links li, a{
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 30px 10%;
    margin-left: auto;
   }

header{
 
top: 0;
left: 0;
width:100%;
padding: 1vw 2vw;
display: flex;
justify-content: space-between;
align-items: center;
background: linear-gradient(to right, #3d4f4d, #759665);
}

.logo{
margin-right: auto ;

}

.logo img{
object-fit: contain;
width: 25%;
max-width: 100%;
height: auto;

}

.nav_links{
max-width: 100%;
display: flex;
padding-top: 2%;
padding-left: 2%;
padding-right: 15%

}

.nav_links a:hover{
color: #c4b52b;

}
    /* end header */

/*footer section */
footer{
    width: 100%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #3d4f4d, #759665);
    color:#fff;
    font-size: 13px;
    line-height: px;
    border-top-left-radius: 125px;
   }

   .footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
   }

   .footer-col{
    flex-basis: 25%;
    margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;

   }

   .footer-col img{
    width: 55%;
    object-fit: contain;
    margin-bottom: 1px;
   }
   .footer-col h2{
    width: fit-content;
    margin-bottom: 2%;
    position: relative;
   
   }

   .footer-col ul{
    margin-bottom: 12px;
    list-style-type: none;
    display: inline;
   }

   .footer-col ul a{
    display: block;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 13px;

   }

   .footer-col ul li a:hover{
    color: #c4b52b;


   }
   .footer-icons {
    
    display: flex;
   justify-content: space-between;
   
      
      }

      .footer-icons i {
        margin-right: 10px; 
      }

      hr{
        width:90%;
        border: 0;
        border-bottom: 1px solid;
        margin: 20px auto;
      }

      .copyright{
        text-align: center;
      }
   
/*end footer section */

