*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
font-family: "Roboto";
height: 100vh;
display: flexbox;
justify-content: center;
font-family: 'Times New Roman', Times, serif;
}
/* Header */
   .nav_links li, a{
    font-family: "Times New Roman", Times, serif;
    font-weight: 400;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
    padding: 30px 10%;
    margin-left: auto;
   }

   header{
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(to right, #00093c, #2d0b00);

   }

   .logo{
    margin-right: auto ;
    margin-left: 0;
    
   }

   .logo img{
    object-fit: contain;
    width: 35%;
    
   }


   .nav_links{
    display: flex;
    margin-top: 6%;
    list-style-type: none;
    background:linear-gradient(to right, #00093c, #2d0b00);
   }

   .nav_links li{
    
    display: inline-block;
    padding: 0px 20px;
    
   }


   .nav_links li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
   }


   .nav_links li a:hover{
    color: #ffd200;


   }


    /* end header */

   /*vision */
.vision{
    background-image: url(../images/vision-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.vision{
    height: 92vh;
    display: flex;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  
}

.vision-content{
    flex: 1;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    padding: 0px 50px;
    color:white;
    font-size: 25px;
}

.vision-photo{
    flex: 1;
    display: flex;
    align-items: center;
}

.vision-photo img{
    width: 90%;
    border-radius: 20px;
}

.vision-heading{
    font-family: "Roboto";
    margin: 20px 0px;
}
/*end vision */

.courses-start{
    letter-spacing: 1px;
    margin: 20px ;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.courses-start h1{
    font-size: 2.2rem;
    font-weight: bold;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

/* course section */
.courses-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-between;
    padding: 50px 0px;
    max-width: 100%;
    
}

.course-img{
    margin: 10px 10px 10px 10px;
}

.course-img img{
  
    border-radius: 5px;
}

.img-size{
    width: 100%;
    height: 32vw;
    object-fit: cover;
}




.course{
    display: flex;
    flex-direction: column;
    max-width:450px ;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.15);
}


.course-body{
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
   

    
}

.course:hover{
    background-color:rgba(56, 54, 54, 0.495);
    color:white;
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.03);
    transition:all 0.1s ease;
  
}

.course-title{
   color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.course-descripton{
    color: #626262;
    margin: 5px 0px;
    margin-top: auto;

}

.course-review-icon{
    color: #626262;
    margin: 5px 0px;
    margin-top: auto;

}

/* end course section */


/*start reviews section */
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}


.reviews-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.reviews-heading h1{
    font-size: 2.2rem;
    font-weight: bold;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}

.reviews-heading span{
     font-size: 1.3rem;
     color: #252525;
     margin-bottom: 10px;
     letter-spacing: 2px;
     text-transform: uppercase;
    
}

.reviews-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
}


.review-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   object-position: center;}

.profile{
    display: flex;
    align-items: center;
}

.name-username{
    display: flex;
    flex-direction: column;
}

.name-username strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}

.name-username span{
    color: #979797;
    font-size: 0.8rem;
   

}

.review-rate{
    color: #f9d71c;

}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.client-review p{
        font-size: 0.9rem;
        color: #4b4b4b;

}

.client-pic img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }

 .client-review{
    display: flex;
 }

 .review-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
 }
/*end reviews section */


/*footer section */
   footer{
    width: 100%;
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color:#fff;
    font-size: 13px;
   
    border-top-left-radius: 125px;

   }


   .footer-row{
    width: 85%;
    margin: auto;
    display: flex;
    margin: auto;
    justify-content: space-between;
   }

   .footer-col{
    flex-basis: 25%;
    margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 30px;

   }

   .footer-col img{
    width: 45%;
    object-fit: contain;
    margin-bottom: 1px;
   }

   

   .footer-col h2{
    width: fit-content;
    margin-bottom: 2%;
    position: relative;
   
   }

   .footer-col ul{
    margin-bottom: 12px;
    list-style-type: none;
    display: inline;
   }

   .footer-col ul a{
    display: block;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    font-size: 13px;

   }

   .footer-col ul li a:hover{
    color: #ffd200;


   }
   .footer-icons {
    
    display: flex;
   justify-content: space-between;
   
      
      }

      .footer-icons i {
        margin-right: 10px; 
      }

      hr{
        width:90%;
        border: 0;
        border-bottom: 1px solid;
        margin: 20px auto;
      }

      .copyright{
        text-align: center;
      }
   
/*end footer section */

@media (max-width = 600px){
    .courses-container{
        flex-direction: column;
    }
    .course{
        width: 100%;
    }
}


