/* Here is the CSS for Tutors page (: */

.tutors-heading
{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.tutors-heading h1
{
    font-size: 2.2rem;
    font-weight: bold;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
}
 
.tutor:hover
{
    background-color:#00093c;
    color:white;
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(180, 171, 171, 0.2);
    transform: scale(1.03);
    transition:all 1s ease;
 }

 .tutor-name:hover
 {
     background-color:#00093c;
     color:white;
     cursor:pointer;
     box-shadow: 0 8px 16px 0 rgba(180, 171, 171, 0.2);
     transform: scale(1.03);
     transition:all 1s ease;
  }

#tutrs{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
}

#sortOrder{
    background-color:#e2e4eeeb;
    border-radius:1em;

}
.tutors-box-container
{
display: flex;
/*flex-direction: row-reverse;*/
align-items: center;
overflow-x: auto;
justify-content: space-between;
background-color:#e2e4eeeb;
width: 100%;
}
  
.box-top
{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 20px; 
}

.tutor
{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: var(--background-color);
 color: var(--color);
    padding: 20px;
    margin: 1em;
    cursor: pointer;
    border-radius:1em;
    width: 60vw ;  
    max-height: 100% ;
}

.profile-img{
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
    overflow: hidden;
    margin-right: 10px;
}

.profile-img img{
    width: 100%;
    height: 100%;
   object-fit: cover;
   object-position: center;}

.profile{
    display: flex;
    align-items: center;
}

.tutor-name{
    display: flex;
    flex-direction: column;
}

.tutor-name strong{
    color: #323232;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}